.add-widget {
  display: flex;
  flex-direction: row;
  height: 196.5px;
  min-width: 255px;
  width: 100%;
}
.circle-center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.circle-center svg {
  font-size: 3rem; 
  color:blue;
}