.budget-widget {
  display: flex;
  flex-direction: row;
  height: max-content;
  min-width: 255px;
  width: 100%;
}

.budget-widgets-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

@media only screen and (max-width: 1080px) {
  .budget-widgets-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 830px) {
  .budget-widgets-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.budget-amounts {
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.percentage-current-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.percentage {
  font-size: 20px;
  font-weight: bold;
  color: #7b61ff;
}

.total-amount {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}
.progress-bar-container {
  margin-left: 20px;
  margin-right: 10px;
}

/* Base progress element */
.progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Firefox */
.progress-bar::-moz-progress-bar {
  background-color: #7b61ff;
  border-radius: 5px;
}

/* Chrome, Safari, Edge */
.progress-bar::-webkit-progress-value {
  background-color: #7b61ff;
  border-radius: 5px;
}

.budget-widget:hover .budget-delete-button {
  visibility: visible;
}

.budget-delete-button {
  visibility: hidden;
  outline: none;
  border: none;
  background: transparent;
}

.budget-delete-button svg {
  cursor: pointer;
  opacity: 0.75;
  color: red;
  width: 20px;
  height: 20px;
}
