.button {
    background-color: #27667B;
    color: white;
    font-size: 14px; 
    border-radius: 20px; /* Rounded corners */ 
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}