.card {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin:10px;
    padding:20px;
    background:rgb(240,240,240);
    border-radius: 10px; 
    overflow: hidden;
}
.card-children{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    background:white;
    border-radius: 10px; 
    margin:10px;
}
.card-header{
    font-size: 14px; /* Smaller font size for the header */
    color: #6c757d; /* Grey color for the header text */
    text-align: left; /* Center-align the text */
    margin-left:20px;
    
}
.card-details{
    font-size: 26px; /* Smaller font size for the header */
    color: #000000; /* Grey color for the header text */
    text-align: left; /* Center-align the text */
    margin-left:20px;
}