.card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 8px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}
.card-header {
  font-size: 14px; /* Smaller font size for the header */
  color: #6c757d; /* Grey color for the header text */
  text-align: left; /* Center-align the text */
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-details {
  font-size: 26px; /* Smaller font size for the header */
  color: #000000; /* Grey color for the header text */
  text-align: left; /* Center-align the text */
  margin-left: 20px;
}
